<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{%$title%}</title>
<link rel="stylesheet" type="text/css" href="./resources/themes/temp/site_common.css">
<link rel="stylesheet" type="text/css" href="./resources/themes/temp/user_setting.css">
<link rel="stylesheet" type="text/css" href="./resources/public/css/jquery.Jcrop.min.css">
<link rel="stylesheet" type="text/css" href="./resources/public/css/dialog.css   ">
<script type="text/javascript" src='./resources/public/javascripts/jquery1.7.min.js'></script>
<script type="text/javascript" src='./resources/public/javascripts/jquery.artDialog.min.js'></script>
<script type="text/javascript" src='./resources/public/javascripts/sea.js'></script>
{%$head_include%}
<script type="text/javascript">
	var $USER = {%$user_json%};
	var $GET  = {%$head_get%};
	var $DATA = {%$head_data%};
	$(document).ready(function(){
		seajs.config({  
		    base: 'resources/themes/temp/mjs/',  
		    alias: {},   
		    charset: 'utf-8',  
		    timeout: 20000,  
		    debug: 0  
		}); 
		var uri = '{%$head_uri%}'.split('/');
		seajs.use('page/'+uri[1]+'-'+uri[2]+'.js',function(api){api.initPage();});
	});
</script>
</head>
<body screen_capture_injected="true">
<div id="wraper">
	<header id="header">
		<nav>
			<h1>icosplay</h1>
			<a hidefocus="true" id="logoALink" href="##" title="" class="logo">icosplay</a>
			<h2>站内导航</h2>
			<ul id="headNav_linkList" class="nav">
				<li class="action_item ">
					<a href="index.php?uri=/home/index" class="index">首页</a>
				</li>
				<li class="action_item ">
					<a href="##" class="find" title="发现">
						发现
					</a>
				</li>
			</ul>
			<ul class="tab">
				<li class="action_item " id="headNav_setting_container" allowshowpopup="true">
					{%if $loginuser%}
						<a class="icon" href='index.php?uri=/user/info/'>{%$loginuser.user_nickname%}</a>
						<a class="icon" href='index.php?uri=/user/loginout/'>登出</a>
					{%else%}
						<a class="icon" href='index.php?uri=/user/login/'>登陆</a>
						<a class="icon" href='index.php?uri=/user/register/'>注册</a>
					{%/if%}
					{%php%} /* var_dump( $this->_vars['loginuser'] ); */ {%/php%}
				</li>
			</ul>
		</nav>
	</header>	

	<section id="main">
		<article class="mod_setting">




